.bc-page-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  button + button { margin-top: 15px; }

  padding-top: 75px;

  .bc-search-footer {
    display: flex;
    gap: 18px;
    margin-top: 18px;
  }

  @media only screen and (max-width: 564px) {
    .bc-search-footer {
      display: flex;
      flex-direction: column;
      a { justify-content: center; }
    }
  }
}