.bc-page-make {

  display: flex;
  align-items: center;
  justify-content: center;
  .bc-card { 
    width: 80%;
    &-footer {
      display: flex;
      justify-content: center;
      * + * { margin-left: 15px; }
    }
  }
}