.bc-page-make {

  display: flex;
  justify-content: center;
  height: max-content;
  padding-top: 75px;
  .bc-card { 
    width: 60%;
    &-footer {
      display: flex;
      justify-content: center;
      a + a { margin-left: 15px; }
    }
    margin-bottom: 20px;
  }

  @media only screen and (max-width: 900px) {
    .bc-card {
      width: 80%;
    }
  }

  @media only screen and (max-width: 600px) {
    padding-top: 0;
    .bc-card {
      width: 90%;
      &-footer {
        flex-direction: column;
        align-items: center;
        a.bc-button {
          margin-left: 0;
          width: max-content;
        }
        a + a { margin-top: 10px; }
      }
    }
  }
}
