@mixin linkVariants($variant) {
    border: none;
    background: none;
    @if $variant == 'dark' {
        color: var(--bc-a-dark-color);
        &:hover { color: var(--bc-a-dark-color__hover); }
        &:focus, &:active { color: var(--bc-global-color__accent); }
    }
    @if $variant == 'light' {
        color: var(--bc-a-light-color);
        &:hover { color: var(--bc-a-light-color__hover); }
        &:focus, &:active { color: var(--bc-global-color__accent); }
    }
}


.bc-a-icon-light, .bc-button-icon-light { @include linkVariants(light) }
.bc-a-icon-dark, .bc-button-icon-dark  { @include linkVariants(dark) }

button.bc-button-icon {
    cursor: pointer;
}