.bc-splitButton {
  padding: 0;
  &__icon, &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    padding: 6px 12px;
    border-right: 1px solid var(--bc-global-color__black);
    background: var(--bc-global-color__black);
    border-radius: 4px 0 0 4px;
    svg {
      stroke: var(--bc-global-color__white);
      stroke-width: 1px;
      width: 20px;
    }
  }

  &__content {
    width: 100%;
    padding: 6px 20px;
  }
}