.bc-list {
  & + .bc-list { margin-top: 10px; }
  &-items {
    list-style-type: circle;
    margin-bottom: 0;
    padding-left: 13px;
  }
  &-withIcon {
    display: grid;
    grid-template-columns: 30px auto;
  }
}