
.bc-card {
  --bc-c-card--padding: var(--bc-global-padding);

  background: #ebece9;
  border-radius: var(--bc-global-border-radius);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04), 0 3px 6px rgba(0, 0, 0, 0.06);
  &-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--bc-global-color__grey-200);
    padding: var(--bc-c-card--padding);
    font-size: 1.3em;
    font-weight: bold;
  }

  &-body {
    padding: var(--bc-c-card--padding);
  }

  &-footer {
    border-top: 1px solid var(--bc-global-color__grey-200);
    padding: var(--bc-c-card--padding);
  }
}