:root {

    // globals
    --bc-global-color__black: #242423;
    --bc-global-color__grey-100: #333533;
    --bc-global-color__grey-200: #CFDBD5;
    --bc-global-color__white: #e8eddf;
    --bc-global-color__shadow: #0f130f;

    // backgrounds
    --bc-l-background-color: var(--bc-global-color__grey-200);

    // links
    --bc-a-light-color: var(--bc-global-color__white);
    --bc-a-light-color__hover: var(--bc-global-color__grey-200);
    --bc-a-light-color__focus: var(--bc-global-color__grey-200);
    --bc-a-light-color__visited: var(--bc-global-color__grey-200);

    --bc-a-dark-color: var(--bc-global-color__black);
    --bc-a-dark-color__hover: var(--bc-global-color__grey-100);
    --bc-a-dark-color__focus: var(--bc-global-color__grey-100);
    --bc-a-dark-color__visited: var(--bc-global-color__grey-100);

    // buttons
    --bc-button-color__active: #bfbfbf;


    // spacers
    --bc-global-padding: 20px;
    --bc-global-padding__horizontal: 32px;
    --bc-global-padding__vertical: var(--bc-global-padding);

    // cards
    --bc-global-border-radius: 5px;
}
